.--featured_block >h3 {
    margin-bottom: 2rem;
}

.featured_block {
    display: flex;
    width: 100%;
    gap: 5%;
}

.featured_image_main {
    width: 60%;
    display: flex;
    position: relative;
    overflow: hidden;
    top: 7px;
    border-radius: 10px;
}
.featured_image_main > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured_image_main_content {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.66) 40%);
    padding: 2rem;
    padding-bottom: 3rem;
    color: white;
    top: 0;
}

.featured_grid {
    width: 40%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 5%;
    padding-right: 5%;
}