.--new_arrival_block >h3 {
    margin-bottom: 3rem;
}

.new_arrival_grid {
    display: grid;
    grid-template-columns: repeat(3, 29%);
    padding: 0 2%;
    justify-content: center;
    gap: 1.5rem 2%;
    width: 100%;
}

.new_arrival_grid .action_zone--content>p:first-child {
    font-size: .7rem;
    font-weight: bold;
}